[submodule "lib/arduino_utils"]
	path = lib/arduino_utils
	url = git@github.com:mlesniew/arduino_utils.git
[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
